<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236232584201-h06v58vfv7f4n2hhi884stf3d940vb99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236232584201-h06v58vfv7f4n2hhi884stf3d940vb99</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>236232584201-gq29eqm62a47n3n7mi2851i4442sc4i2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBinJ_pXBszk1GJLPA4vyTc0HYvs2AKvcE</string>
	<key>GCM_SENDER_ID</key>
	<string>236232584201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newQc</string>
	<key>PROJECT_ID</key>
	<string>quit-smoking-ffce6</string>
	<key>STORAGE_BUCKET</key>
	<string>quit-smoking-ffce6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236232584201:ios:c04a8110093ba69e32dcd8</string>
</dict>
</plist>